* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.3s;
}



a {
    text-decoration: none !important;
}

/* gallery start */
.bg-new {
    background-color: white !important;
}

.gallery {
    padding: 20px 0;
    width: 100% !important;
}

.w-50 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-50 .card {
    width: 500px;
    height: 400px;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 8px #242424;
}

.w-50 .card img {
    width: 500px;
    height: 320px;
    overflow: hidden;
}

.gallery-fluid {
    background-color: #333;
}

.gallery-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "ivymode", sans-serif;
    color: #999;
}




/* gallery end*/

/* social icon */
.social {
    padding: 0 !important;
    z-index: 999;
}

.btn {
    padding-right: 5px !important;
}

.nav-right li i {
    font-size: 16px !important;
}

.app ul {
    display: flex;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
}

.app ul li {
    list-style: none;
}

.app ul li a {
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
}

.app ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.app ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.app ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.app ul li a:hover:before {
    top: 0;
}

.app ul li:nth-child(1) a:before {
    background: #3b5999;
}

.app ul li:nth-child(2) a:before {
    background: #55acee;
}

.app ul li:nth-child(3) a:before {
    background: #0077b5;
}

.app ul li:nth-child(4) a:before {
    background: #dd4b39;
}

/* social icon end*/

/* home star */
/* home-top */
.home-main {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: auto;
}


/* social - start*/
.social {
    padding: 5px 30px;
    position: relative;
    top: 0;
    z-index: 999;
}

.all-main {
    position: absolute;
    top: 0;
    height: 650px;
    width: 100%;
}

.app {
    width: 92%;
    column-gap: 20px;
}

.social i {
    font-size: 18px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.social a:hover i {
    color: rgb(215, 161, 27);
}

.social a:hover {
    transform: scale(1.05);
}

.language {
    width: 8%;
}

.language a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 0.1em solid;
}

/* social - end */
/* navbar */
.home-main .navbar {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.756);
    height: 100px;
    z-index: 1;
}

.nav-left {
    width: 50%;
    padding-left: 30px;
}

.nav-img {
    width: 88px;
}

.nav-img img {
    width: 100%;
}

.nav-img img:hover {
    transform: scale(1.03);
}

.nav-left li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.nav-left li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    height: 20px;
    transition: 0.3s;
}

.nav-left ul {
    margin-bottom: 0;
}

.nav-left li a:hover {
    border-bottom: 0.1em solid #C19A5B;
}

.first-child {
    border-bottom: 0.1em solid #C19A5B;
}

.nav-right {
    width: 50%;
}

.nav-right ul {
    margin: 0 25px;
}

.nav-right .none-a {
    display: none;
}

.nav-item {
    align-items: center;
}

/* search-slide-login */
.modal-backdrop.show {
    display: none;
}

.modal {
    background-color: #000000a3 !important;
}

.modal-content {
    border: none !important;
    margin-top: 300px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-header {
    font-size: 35px;
    color: #f9f9f9;
}

.modal-content input {
    background-color: transparent;
    display: flex;
    border-color: transparent;
    border-bottom: 1px solid #dee2e6;
    justify-content: center;
    color: white !important;
}

.modal-content {
    background-color: transparent !important;
    border: none;
}

/* slide menu */
.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.nav-right .nav-link:hover {
    border-color: transparent !important;
}

.offcanvas-header {
    justify-content: flex-start !important;
    padding-top: 50px !important;
}

.btn-main {
    justify-content: space-between;
    padding: 20px 15px;
}

.offcanvas-body {
    height: 300px;
}

.offcanvas {
    height: 500px;
    background-color: white !important;
}

.offcanvas-header {
    padding: 0 !important;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px !important;
    align-content: flex-start !important;
}

.offcanvas-header i {
    color: black !important;
}

.offcanvas-header .btn-close {
    padding: 0 !important;
}

.offcanvas-body ul {
    margin: 0 !important;
}

.offcanvas-body li a {
    color: black !important;
}

.offcanvas-body hr {
    margin: 5px 0 !important;
    color: black !important;
}

.offcanvas i {
    color: black !important;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-body {
    height: 100px;
}

.over {
    overflow: hidden;
    box-sizing: border-box;
}

.card {
    border: 0 !important;
}

/* slide menu end*/
.contact .mx-auto h2 {
    font-family: "ivymode", sans-serif;
}

/* search-slide-login end */


.navbar .nav-tabs {
    border: 0;
}

.nav-right li a {
    margin: 0 7px;
}

.nav-right li i {
    font-size: 18px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.nav-right li i:hover {
    color: rgb(215, 161, 27);
}

.nav-right .nav-img {
    margin-left: 15px;
}

.nav-left ul {
    padding-left: 0 !important;
}

/* navbar end*/
.heading-name {
    width: 100%;
    margin-top: 300px;
}

.heading-name h2 {
    font-size: 75px;
    font-family: "ivymode", sans-serif;
    margin-bottom: 0;
    color: black;
}

.heading-name h1 {
    font-family: "ivymode", sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 85px;
    color: black;
}

.loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
}

.loading__wrapper .loader--text {
    color: #5d5b5b;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
    position: relative;
    width: 200px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
}

.loading__wrapper .loader span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    transform: scaleX(0);
    transform-origin: left;
}

@media only screen and (min-width: 800px) {
    :root {
        --card-width: 250px;
        --card-height: 400px;
    }
}

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}

.support a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
}

.support a:hover {
    transform: scale(1.1);
}

/* footer start */
.footer {
    padding: 50px 0 20px 0;
    background-color: #f9f9f9;
}

.footer-bar {
    width: 100%;
    margin: 50px 0;
}

.footer-logo {
    width: 10%;
}

.footer-logo img {
    width: 100%;
}

.footer-menu {
    width: 70%;
    margin: 0 50px;
}

.footer-right {
    width: 20%;
}

.footer-bar a {
    color: #000000;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footer-bar a:hover {
    color: #C19A5B;
}

.footer-bar li:hover {
    transform: scale(1.03);
}

.footer-menu ul li:first-of-type a {
    color: #C19A5B;
}

.footer a {
    text-decoration: none !important;
}

.footer-logo img:hover {
    transform: scale(1.03);
}

.contact {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.contact a {
    text-decoration: none;
    color: #040404;
}

.contact span {
    text-decoration: none;
    color: #010101;
}

.contact a:hover {
    color: #b19777;
    transform: scale(1.01);
}

.footer-end {
    height: 220px;
}

.end {
    width: 100%;
}

.end .social {
    width: 100%;
    padding: 0 20px 0 0;
}

.end .social a {
    margin-left: 5px;
}

.copyright {
    font-family: "Inter", sans-serif;
    width: 100%;
}

.copyright a {
    color: #999;
    margin-left: 15px;
    font-weight: 400;
}

.copyright p {
    margin: 0 !important;
    color: #999;
}

.copyright span {
    margin: 0 !important;
    color: #999;
}

.copy-end span {
    font-weight: 500;
    margin-right: 3px;
}

.end-border {
    width: 100%;
    height: 15px;
    background-color: rgb(56, 56, 56);
}

.ul-main {
    width: 100%;
}

.title-end h6 {
    color: #b19777;
}

/* footer end */