* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.3s;

}



a {
    text-decoration: none !important;
}

/* gallery start */
.gallery {
    padding: 20px 0;
    width: 100% !important;
}

.w-50 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-50 .card {
    width: 500px;
    height: 400px;
    overflow: hidden;
    background-color: #222;
    box-shadow: 0 0 10px 2px #242424;
}

.w-50 .card img {
    width: 500px;
    height: 320px;
    overflow: hidden;
}

.gallery-fluid {
    background-color: #333;
}

.gallery-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "ivymode", sans-serif;
    color: #999;

}




/* gallery end*/


/* home-top */
.home-main {
    width: 100%;
    height: auto;
    position: relative;
}

.all-main {
    position: absolute;
    top: 0;
    height: 650px;
    width: 100%;
}

/* social - start*/
.social {
    padding: 5px 30px;
    position: relative;
    z-index: 999;
}

.app {
    width: 92%;
    column-gap: 20px;
}

.social i {
    font-size: 18px;
    color: #999;
    transition: 0.3s;
}

.social a:hover i {
    color: #C19A5B;
}

.social a:hover {
    transform: scale(1.05);
}

.language {
    width: 8%;
}

.language a {
    color: #999;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 0.1em solid;
}

/* social - end */
/* navbar */
.home-main .navbar {
    width: 100%;
    padding: 0;
    height: 100px;
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: #222222f6;
}

.nav-left {
    width: 50%;
}

.nav-img {
    width: 88px;
}

.nav-img img {
    width: 100%;
}

.nav-img img:hover {
    transform: scale(1.03);
}

.nav-left li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.nav-left li a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    height: 20px;
    transition: 0.3s;
}

.nav-left ul {
    margin-bottom: 0;
}

.nav-left li a:hover {
    border-bottom: 0.1em solid #b19777;
}

.first-child {
    border-bottom: 0.1em solid #b19777;
}

.nav-right {
    width: 50%;
}

.nav-right ul {
    margin: 0 25px;
}

.nav-right .none-a {
    display: none;
}

.navbar .nav-tabs {
    border: 0;
}

.nav-right li a {
    margin: 0 7px;
}

.nav-right li i {
    font-size: 18px;
    color: #999;
    transition: 0.5s;
}

.nav-right li i:hover {
    color: #b19777;
}

/* navbar end*/
.heading-name {
    width: 100%;
    margin-top: 300px;
}

.heading-name h2 {
    font-size: 75px;
    font-family: "ivymode", sans-serif;
    margin-bottom: 0;
    color: black;
}

.heading-name h1 {
    font-family: "ivymode", sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 85px;
    color: black;
}











/* footer start */
.footer {
    padding: 50px 0 20px 0;
    background-color: #222;
}

.footer-bar {
    width: 100%;
    margin: 50px 0;
}

.footer-logo {
    width: 10%;
}

.footer-logo img {
    width: 100%;
}

.footer-menu {
    width: 70%;
    margin: 0 50px;
}

.footer-right {
    width: 20%;
}

.footer-bar a {
    color: #999;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footer-bar a:hover {
    color: #C19A5B;
}

.footer-bar li:hover {
    transform: scale(1.03);
}

.footer-menu ul li:first-of-type a {
    color: #C19A5B;
}

.footer a {
    text-decoration: none !important;
}

.footer-logo img:hover {
    transform: scale(1.03);
}

.contact {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.contact a {
    text-decoration: none;
    color: #999;
}

.contact span {
    text-decoration: none;
    color: #999;
}

.contact a:hover {
    color: #b19777;
    transform: scale(1.01);
}

.footer-end {
    height: 220px;
}

.end {
    width: 100%;
}

.end .social {
    width: 100%;
    padding: 0 20px 0 0;
}

.end .social a {
    margin-left: 5px;
}

.copyright {
    font-family: "Inter", sans-serif;
    width: 100%;
}

.copyright a {
    color: #999;
    margin-left: 15px;
    font-weight: 400;
}

.copyright p {
    margin: 0 !important;
    color: #999;
}

.copyright span {
    margin: 0 !important;
    color: #999;
}

.copy-end span {
    font-weight: 500;
    margin-right: 3px;
}

.end-border {
    width: 100%;
    height: 15px;
    background-color: rgb(56, 56, 56);
}

.ul-main {
    width: 100%;
}

.title-end h6 {
    color: #b19777;
}

/* footer end */