@media (max-width: 1200px) {}

@media (min-width: 993px) and (max-width: 1200px) {
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
}

@media (max-width: 992px) {

    /* home-top */
    .nav-left {
        width: 70%;
    }

    .nav-right {
        width: 30%;
    }

    .heading-name h1 {
        margin: 0px;
        font-size: 56px;
    }

    /* home-top end*/


    /* footer start */
    .footer-bar {
        flex-direction: column;
    }

    .footer-logo {
        width: 20%;
    }

    .footer-menu ul {
        padding: 0;
        margin: 0;
    }

    .footer-right ul {
        padding: 0;
        margin: 0;
    }

    .footer-end {
        flex-direction: column;
    }

    /* footer end */
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
}

@media (min-width: 769px) and (max-width: 960px) {

    /* home-top */
    .nav-left {
        width: 80%;
    }

    .nav-right {
        width: 20%;
    }

    .home-main {
        width: 100%;
    }

    .project {
        margin: 0 10px;
        padding: 50px 0;
        flex-direction: column;
    }

    .heading-name h1 {
        margin: 0px;
        font-size: 56px;
    }

    /* home-top end*/
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
}

@media (max-width: 768px) {

    /* home-top */
    .home-main .navbar {
        height: auto;
        padding: 10px 0;
    }

    .nav-img {
        width: 70px;
    }

    .home-main .navbar {
        width: 100%;
    }

    .social a {
        display: none;
    }

    .nav-left {
        width: 85%;
        display: flex;
        justify-content: flex-start;
    }

    .nav-right {
        width: 15%;
    }

    .navbar li {
        display: none;
    }

    .nav-right .none {
        display: none;
    }

    .home-main .none-a {
        display: block;
    }

    .nav-right li i {
        font-size: 25px;
    }

    /* home end */
    .w-50 {
        width: 100%;
    }

    /* footer start */
    .footer .ul-main {
        display: none !important;
    }

    /* footer end */
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
}

@media (min-width: 577px) and (max-width:720px) {

    /* home-top */
    .heading-name h2 {
        margin: 0px;
        font-size: 50px;
    }

    .heading-name h1 {
        font-size: 28px;
    }
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
     .w-50{
        width: 100%;
     }
     .card{
        width: 100% !important;
        height: 100% !important;
     }
    /* home end */
}

@media (min-width: 425px) and (max-width:576px) {
    .heading-name h2 {
        margin: 0px;
        font-size: 50px;
    }

    .heading-name h1 {
        font-size: 28px;
    }
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
}

@media (min-width: 375px) and (max-width:425px) {

    /* home */
    .home-main {
        width: 100%;
    }

    .home-main .navbar {
        width: 100%;
    }

    .heading-name h2 {
        margin: 0px;
        font-size: 50px;
    }

    .heading-name h1 {
        font-size: 28px;
    }

    /* home end */
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }

    /* footer start */
    .footer {
        width: 100%;
    }

    .end-border {
        width: 100%;
    }

    /* footer end */
}

@media (min-width: 280px) and (max-width:375px) {

    /* home */
    .home-main {
        width: 100%;
    }

    .home-main .navbar {
        width: 100%;
    }

    .heading-name h1 {
        margin: 0px;
        font-size: 20px;
    }

    .heading-name h2 {
        font-size: 40px;
    }

    /* home end*/
    .gallery-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
     }
    /* footer start */
    .footer {
        width: 100%;
    }

    .end-border {
        width: 100%;
    }

    .footer-logo {
        width: 30%;
    }

    /* footer end */
}