* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.3s;
}




/* home star */
/* home-top */
.home-main {
    width: 100%;
    background: url(img/nav\ \(16\).jpg);
    background-position: center center;
    background-size: cover;
    height: 650px;
}

/* social - start*/
.social {
    padding: 5px 30px;
    position: relative;
    z-index: 999;
}

.app {
    width: 92%;
    column-gap: 20px;
}

.social i {
    font-size: 18px;
    color: rgb(0, 0, 0) !important;
    transition: 0.3s;
}

.social a:hover i {
    color: rgb(215, 161, 27);
}

.social a:hover {
    transform: scale(1.05);
}

.language {
    width: 8%;
}

.language a {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 0.1em solid;
}

/* social - end */
/* navbar */
.home-main .navbar {
    width: 100%;
    padding: 0;
    height: 100px;
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.756) !important;
}

.nav-left {
    width: 50%;
    padding-left: 30px;
}

.nav-img {
    width: 88px;
}

.nav-img img {
    width: 100%;
}

.nav-img img:hover {
    transform: scale(1.03);
}

.nav-left li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.nav-left li a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    height: 20px;
    transition: 0.3s;
}

.nav-left ul {
    margin-bottom: 0;
}

.nav-left li a:hover {
    border-bottom: 0.1em solid #C19A5B;
}

.first-child {
    border-bottom: 0.1em solid #C19A5B;
}

.nav-right {
    width: 50%;
}

.nav-right ul {
    margin: 0 25px;
}

.nav-right .none-a {
    display: none;
}

.nav-item {
    align-items: center;
}

/* search-slide-login */
.modal-backdrop.show {
    display: none;
}

.modal {
    background-color: #000000a3 !important;
}

.modal-content {
    margin-top: 300px;
}

.modal-content {
    background-color: transparent;
    border: none;
}

.modal-header {
    font-size: 35px;
    color: #f9f9f9;
}

.modal-content input {
    background-color: transparent;
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 1px solid;
}

.modal-content input:focus-visible {
    border: none;
}

/* social icon */
.social {
    padding: 0 !important;
    position: absolute;
    z-index: 999;
}



.nav-right li i {
    font-size: 16px !important;
}

.app ul {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app ul li {
    list-style: none;
}

.app ul li a {
    width: 30px;
    height: 30px;
    background-color: #e1e1e1c8;
    text-align: center;
    line-height: 32px;
    font-size: 10px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #cacacab9;
    z-index: 1;
}

.app ul li a .icon {
    position: relative;
    color: #131313 !important;
    transition: .5s;
    z-index: 3;
}

.app ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.app ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.app ul li a:hover:before {
    top: 0;
}

.app ul li:nth-child(1) a:before {
    background: #3b5999;
}

.app ul li:nth-child(2) a:before {
    background: #55acee;
}

.app ul li:nth-child(3) a:before {
    background: #0077b5;
}

.app ul li:nth-child(4) a:before {
    background: #dd4b39;
}

/* social icon end*/
/* slide menu */
.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.nav-right .nav-link:hover {
    border-color: transparent !important;
}

.offcanvas-header {
    justify-content: flex-start !important;
    padding-top: 50px !important;
}

.btn-main {
    justify-content: space-between;
    padding: 20px 15px;
}

.offcanvas-header {
    padding: 0 !important;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px !important;
    align-content: flex-start !important;
}

.offcanvas-header i {
    color: black !important;
}

.offcanvas-header .btn-close {
    padding: 0 !important;
}

.offcanvas-body ul {
    margin: 0 !important;
}

.offcanvas-body li a {
    color: black !important;
}

.offcanvas-body hr {
    margin: 5px 0 !important;
    color: black !important;
}

.offcanvas i {
    color: black !important;
}

/* slide menu end*/
.contact .mx-auto h2 {
    font-family: "ivymode", sans-serif;
}

/* search-slide-login end */


.navbar .nav-tabs {
    border: 0;
}

.nav-right li a {
    margin: 0 7px;
}

.nav-right li i {
    font-size: 18px;
    color: rgb(0, 0, 0) !important;
    transition: 0.5s;
}

.nav-right li i:hover {
    color: rgb(215, 161, 27);
}

.nav-right .nav-img {
    margin-left: 15px;
}

.nav-left ul {
    padding-left: 0 !important;
}

/* navbar end*/
.heading-name {
    width: 100%;
    height: 400px;
    margin-top: 0px !important;
    padding-top: 100px !important;
}

.heading-name h2 {
    font-size: 78px;
    font-family: "ivymode", sans-serif;
    margin-bottom: 0;
}

.heading-name h1 {
    font-family: "ivymode", sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0 85px;
}

/* home end */



@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
    outline: 0;
    transition: .3s;
}

body {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: bolder;
    text-align: center;
}

.cart-button-style {
    border-style: none;
    position: fixed;
    top: 100px;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}

.cart-button-style-two {
    border-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 10em;
    padding: 1em 1em;
    margin: 0.5em;
    background: white;
    color: #7762ff;
    transition: background .5s;
    border-radius: 4px;
}

.cart-button-style:hover,
#checkout:hover,
#apply-promo:hover,
.keep-shopping:hover {
    background: #62ff8e;
    color: white;
}

.cart-button-style:active,
#checkout:active,
#apply-promo:active,
.keep-shopping:active {
    background: #ff6884;
    color: white;
}

.products {
    float: left;
    width: 23%;
    margin: 3% 1%;
    text-align: center;
    padding: 0 0 1% 0;
}

.products img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 980px) {
    .products {
        width: 30%;
        text-align: center;
        margin: 1.66%;
    }
}

@media screen and (max-width: 790px) {
    .products {
        width: 47%;
        margin: 1% 1%;
    }

    #shop {
        margin: 5% 1%;
    }
}

@media screen and (max-width: 600px) {
    .products {
        width: 100%;
    }

    #shop {
        margin: 2% 0;
    }
}

#shop::after {
    content: '';
    display: block;
    clear: both;
}

.add-to-cart {
    display: block;
    margin: 1% auto;
    border-style: none;
    width: 10em;
    height: 3em;
    background: #62ff8e;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.add-to-cart:hover {
    background: #7762ff;
}

.add-to-cart:active {
    background: #62ff8e;
}

.slider {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: hidden;
    background: white;
    transition: all 1s;
}

.slider.close {
    top: 100vh;
    height: 0;
}

#amount-controls {
    background: white;
    top: 90;
    right: 0;
}

#cart-amount-wrapper {
    background: white;
    padding: 1.5% 0 .5% 35%;
    border-radius: 10px;
}

#cart {
    text-align: left;
    margin: 3.5em 0.5em;
    padding: 0.5% 1.5%;
    overflow-y: scroll;
}

#total::before,
#subtotal::before,
.product-price::before,
.cart-product-price::before,
.cart-updated-product-price::before,
#discountAmt::before {
    content: '$';
}

#cart #quantity-value {
    width: 45%;
}

.name-col {
    width: 40%;
}

.quantity-col {
    width: 5%;
}

.price-col {
    width: 15%;
}

.updated-price-col {
    width: 25%;
}

.update-col {
    width: 10%
}

.remove-col {
    width: 5%;
}

#update {
    border-style: none;
    text-transform: uppercase;
    padding: 2% 12px;
    width: 100%;
    height: 30px;
    background: #56ff6a;
    color: white;
    border-radius: 10px;
}

#update:hover {
    background: #f0ffe6;
    color: #56ff6a;
}

#update:active {
    background: #56f46a;
    color: white;
}

.remove {
    border-style: none;
    font-weight: bolder;
    padding: 2% 2.5%;
    width: 100%;
    height: 30px;
    background: #ff7b67;
    color: #fff1e7;
    border-radius: 10px;
}

.remove:hover {
    background: #fff1e7;
    color: #ff7b67;
}

.remove:active {
    background: #ff7b67;
    color: #f5f1e7;
}

#cart-products-wrapper {
    overflow-y: auto;
}

#cart-amount-wrapper {
    overflow-x: auto;
}

#promo {
    width: 10em;
    padding: 1em 1em;
    transition: background .5s;
    border-radius: 4px;
}

#apply-promo,
#checkout,
.keep-shopping {
    border-style: none;
    width: 10em;
    padding: 1em 1em;
    background: #7762ff;
    color: white;
    transition: background .5s;
    border-radius: 4px;
}