* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    transition: 0.3s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* home star */
/* home-top */
.home-main {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: auto;
}

video {
    width: 100%;
}

/* social - start*/
.social {
    padding: 5px 30px;
    position: relative;
    top: 0;
    z-index: 999;
}

.all-main {
    position: absolute;
    top: 0;
    height: 650px;
    width: 100%;
}

.app {
    width: 92%;
    column-gap: 20px;
}

.social i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.social a:hover i {
    color: rgb(215, 161, 27);
}

.social a:hover {
    transform: scale(1.05);
}

.language {
    width: 8%;
}

.language a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 0.1em solid;
}

/* social - end */
/* navbar */
.home-main .navbar {
    width: 100%;
    padding: 0;
    height: 100px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.756);
    z-index: 1;
}

.nav-left {
    width: 50%;
    padding-left: 30px;
}

.nav-img {
    width: 88px;
}

.nav-img img {
    width: 100%;
}

.nav-img img:hover {
    transform: scale(1.03);
}

.nav-left li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.nav-left li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    height: 20px;
    transition: 0.3s;
}

.nav-left ul {
    margin-bottom: 0;
}

.nav-left li a:hover {
    border-bottom: 0.1em solid #C19A5B;
}

.first-child {
    border-bottom: 0.1em solid #C19A5B;
}

.nav-right {
    width: 50%;
}

.nav-right ul {
    margin: 0 25px;
}

.nav-right .none-a {
    display: none;
}

.nav-item {
    align-items: center;
}

/* search-slide-login */
.modal-backdrop.show {
    display: none;
}

.modal {
    background-color: #000000a3 !important;
}

.modal-content {
    border: none !important;
    margin-top: 300px;
}

.modal-content {
    background-color: transparent !important;
    border: none;
}

.modal-header {
    font-size: 35px;
    color: #f9f9f9;
}

.modal-content input {
    background-color: transparent !important;
    display: flex;
    border-color: transparent;
    border-bottom: 1px solid #dee2e6;
    justify-content: center;
    color: white !important;
}

/* slide menu */
.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none !important;
}

.nav-right .nav-link:hover {
    border-color: transparent !important;
}

.offcanvas-header {
    justify-content: flex-start !important;
    padding-top: 50px !important;
}

.btn-main {
    justify-content: space-between;
    padding: 20px 15px;
}

.offcanvas-header {
    padding: 0 !important;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px !important;
    align-content: flex-start !important;
}

.offcanvas-header i {
    color: black !important;
}

.offcanvas-header .btn-close {
    padding: 0 !important;
}

.offcanvas-body ul {
    margin: 0 !important;
}

.offcanvas-body li a {
    color: black !important;
}

.offcanvas-body hr {
    margin: 5px 0 !important;
    color: black !important;
}

.offcanvas i {
    color: black !important;
}

/* slide menu end*/
.contact .mx-auto h2 {
    font-family: "ivymode", sans-serif;
}

/* social icon */
.social {
    padding: 0 !important;
    z-index: 999;
}

.btn {
    padding-right: 5px !important;
}

.nav-right li i {
    font-size: 16px !important;
}

.app ul {
    display: flex;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
}

.app ul li {
    list-style: none;
}

.app ul li a {
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #fff;
    z-index: 1;
}

.app ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.app ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.app ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.app ul li a:hover:before {
    top: 0;
}

.app ul li:nth-child(1) a:before {
    background: #3b5999;
}

.app ul li:nth-child(2) a:before {
    background: #55acee;
}

.app ul li:nth-child(3) a:before {
    background: #0077b5;
}

.app ul li:nth-child(4) a:before {
    background: #dd4b39;
}

/* social icon end*/

/* search-slide-login end */


.navbar .nav-tabs {
    border: 0;
}

.nav-right li a {
    margin: 0 7px;
}

.nav-right li i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.nav-right li i:hover {
    color: rgb(215, 161, 27);
}

.nav-right .nav-img {
    margin-left: 15px;
}

.nav-left ul {
    padding-left: 0 !important;
}

/* navbar end*/
.heading-name {
    width: 100% !important;
    height: 400px;
    position: absolute;
    top: 0;
    margin-top: 100px;
    flex-wrap: wrap !important;
}

.heading-name h2 {
    font-size: 78px;
    font-family: "ivymode", sans-serif;
    color: white;
    margin-bottom: 0;
}

.heading-name h1 {
    font-family: "adobe-handwriting-ernie", sans-serif;
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: 100;
    box-sizing: border-box;
    margin: 0 85px;
}


/* home end */





@media all and (min-width: 600px) {

    /* Change color for backdrop */
    .fancybox-custom-layout .fancybox-bg {
        background: #fcfaf9;
    }

    .fancybox-custom-layout.fancybox-is-open .fancybox-bg {
        opacity: 1;
    }

    /* Move caption area to the right side */
    .fancybox-custom-layout .fancybox-caption {
        background: #f1ecec;
        bottom: 0;
        color: #6c6f73;
        left: auto;
        padding: 30px 20px;
        right: 44px;
        top: 0;
        width: 256px;
    }

    .fancybox-custom-layout .fancybox-caption h3 {
        color: #444;
        font-size: 21px;
        line-height: 1.3;
        margin-bottom: 24px;
    }

    .fancybox-custom-layout .fancybox-caption a {
        color: #444;
    }

    /* Remove gradient from caption*/
    .fancybox-custom-layout .fancybox-caption::before {
        display: none;
    }

    /* Adjust content area position */
    .fancybox-custom-layout .fancybox-stage {
        right: 300px;
    }

    /* Align buttons at the right side  */
    .fancybox-custom-layout .fancybox-toolbar {
        background: #3b3b45;
        bottom: 0;
        left: auto;
        right: 0;
        top: 0;
        width: 44px;
    }

    /* Remove background from all buttons */
    .fancybox-custom-layout .fancybox-button {
        background: transparent;
    }

    /* Navigation arrows */
    .fancybox-custom-layout .fancybox-navigation .fancybox-button div {
        padding: 2px;
    }

    .fancybox-custom-layout .fancybox-navigation .fancybox-button[disabled] {
        color: #ddd;
    }

    .fancybox-custom-layout .fancybox-navigation .fancybox-button:not([disabled]) {
        color: #333;
    }

    /* Reposition right arrow */
    .fancybox-custom-layout .fancybox-button--arrow_right {
        right: 308px;
    }
}

.header .lead {
    max-width: 620px;
}

.lg-toolbar-next:before {
    content: "";
}

.lg-toolbar-prev:before {
    content: "";
}

/** Below CSS is completely optional **/
.gallery-item {
    width: 200px;
    padding: 5px;
}

.imglist {
    padding: 40px;
}