* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
    transition: 0.3s;
}

/* home star */
/* home-top */
.home-main {
    width: 100%;
    background: url(img/main.jpg);
    background-position: center center;
    background-size: cover;
    height: 650px;
}

/* social - start*/
.social {
    padding: 5px 30px;
    position: relative;
    z-index: 999;
}

.app {
    width: 92%;
    column-gap: 20px;
}

.social i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.social a:hover i {
    color: rgb(215, 161, 27);
}

.social a:hover {
    transform: scale(1.05);
}

.language {
    width: 8%;
}

.language a {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 0;
    border-bottom: 0.1em solid;
}

/* social - end */
/* navbar */
.home-main .navbar {
    width: 100%;
    padding: 0;
    height: 100px;
    position: fixed;
    z-index: 1;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.756);
}

.nav-left {
    width: 50%;
}

.nav-img {
    width: 88px;
}

.nav-img img {
    width: 100%;
}

.nav-img img:hover {
    transform: scale(1.03);
}

.nav-left li {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.nav-left li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    height: 20px;
    transition: 0.3s;
}

.nav-left ul {
    margin-bottom: 0;
}

.nav-left li a:hover {
    border-bottom: 0.1em solid #C19A5B;
}

.first-child {
    border-bottom: 0.1em solid #C19A5B;
}

.nav-right {
    width: 50%;
}

.nav-right ul {
    margin: 0 25px;
}

.nav-right .none-a {
    display: none;
}

.navbar .nav-tabs {
    border: 0;
}

.nav-right li a {
    margin: 0 7px;
}

.nav-right li i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.nav-right li i:hover {
    color: rgb(215, 161, 27);
}

/* navbar end*/
.heading-name {
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

.heading-name h2 {
    font-size: 78px;
    font-family: "ivymode", sans-serif;
    color: white;
    margin-bottom: 0;
}

.heading-name h1 {
    font-family: "adobe-handwriting-ernie", sans-serif;
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0 85px;
}

/* home end */
/*  PROJECTS  start */
.project {
    padding: 50px 70px;
}

.w-100 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
}

.w-100 .main-card {
    width: 25%;
    display: flex;
    justify-content: center;
}

.w-100 .card .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.w-100 .card {

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px 1px #76767626;
    border: 0;
}

.w-100 .card a {
    text-decoration: none;
    color: black;
}

.w-100 .card img {
    height: 350px;
}

.main-card:hover {
    transform: scale(1.05);
}

/*  PROJECTS  End */

/* PRIVATE HOMES Start */

.private {
    margin: 0 70px;
    padding: 20px 0;
    box-sizing: border-box;
}

.w-65 {
    width: 65%;
}

.w-65 a img {
    width: 100%;
}

.w-35 {
    width: 35%;
    background-color: #f9f8f8;
    padding: 30px;

}

.w-35 p {
    color: #7A7A7A;
    font-size: 17px;

}

.w-35 h2 {
    color: #000000;
    font-size: 35px;
    font-family: "ivymode", sans-serif;
    font-weight: 300;
    margin-bottom: 110px;
}

.w-35 .pro {
    color: #000000;
    font-size: 15px;
    color: #7A7A7A;


}






/* PRIVATE HOMES end */

/*  contact start */
.contact {}

.question {
    justify-content: center !important;
}

/*  contact end */


/* footer start */
.footer {
    padding: 50px 0 20px 0;
    background-color: #f9f9f9;
}

.footer-bar {
    width: 100%;
    margin: 50px 0;
}

.footer-logo {
    width: 10%;
}

.footer-logo img {
    width: 100%;
}

.footer-menu {
    width: 70%;
    margin: 0 50px;
}

.footer-right {
    width: 20%;
}

.footer-bar a {
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footer-bar a:hover {
    color: #C19A5B;
}

.footer-bar li:hover {
    transform: scale(1.03);
}

.footer-menu ul li:first-of-type a {
    color: #C19A5B;
}

.footer-logo img:hover {
    transform: scale(1.03);
}

.contact {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: #C19A5B;
    transform: scale(1.01);
}

.footer-end {
    height: 220px;
}

.end {
    width: 100%;
}

.end .social {
    width: 100%;
    padding: 0 20px 0 0;
}

.end .social a {
    margin-left: 5px;
}

.copyright {
    font-family: "Inter", sans-serif;
    width: 100%;
}

.copyright a {
    color: black;
    margin-left: 15px;
    font-weight: 400;
}

.copy-end span {
    font-weight: 500;
    margin-right: 3px;
}

.end-border {
    width: 100%;
    height: 15px;
    background-color: rgb(56, 56, 56);
}

.ul-main {
    width: 100%;
}

.copy-end p {
    margin: 0;
}

.footer-end i {
    color: rgb(56, 56, 56);
}

/* footer end */